@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.contain {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto 72px;
}

.contain > * {
  grid-column: 2;
}

.contain > .fluid {
  grid-column: 1 / -1;
}
